.nav-center{
    flex-grow: 1; justify-content: center;
}
.btn-back{
    background-color:rgba(143, 226, 237, 1) !important ;
    font-family: 'Prata' ;  
    color: black !important;
    padding-right: 20px;
}
.simple-title {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: black !important;
}
.simp-title {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: black !important;
}